*{
    margin: 0px;
    padding: 0px;
}
#fodiv{
    width: 100%;
    height: 400px;
    display: flex;
    background-color: yellow;
    align-items: center;
}

ul{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}

#lila{
    background-color: purple;
    height:100px;
    width:100px;
    list-style-type:none;
}
